@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-5 col-md-5">
            <div class="list-group">
                <div class="list list-group-item list-group-item-danger">Computer Vision API</div>
                <div class="list list-group-item list-group-item-danger">Video Indexer API</div>
                <div class="list list-group-item list-group-item-danger">Custom Vision API</div>
                <div class="list list-group-item list-group-item-danger">Face API</div>
                <div class="list list-group-item list-group-item-danger">Content Moderator</div>
            </div>
        </div>
    </div>
</div>