
@{
    ViewData["Title"] = "Index";
}

<h2>Vision API</h2>

<div class="row">
    <div class="col-lg-6">
        <a href="PictureAnalysis">
            <img src="~/pictureAnalysis_MonaLisa.jpg" alt="Picture Analysis" />
            <p>Picture Analysis</p>
        </a>
    </div>
</div>
